[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[user]
	name = Karl Pokus
	email = karl.pokus@gmail.com
[alias]
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
	logg = log --oneline
[core]
	editor = vim
[push]
	default = simple
