[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[user]
	name = carl-fredrik
	email = carl-fredrik.grimberg@northvolt.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMrsutm5sOaFvlYmbmRmP79xPO6fnL15jJQsZ6uo4tvw
[alias]
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
	logg = log --oneline
[core]
	editor = vim
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
    	postBuffer = 524288000
[log]
    	date = short
[format]
    	pretty = format:%C(yellow)%h %Cblue%>(10)%ad %Cgreen%<(7)%aN %C(red)%d %Creset%s
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/opt/1Password/op-ssh-sign"
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
