[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[user]
	name = Karl Pokus
	email = karl.pokus@gmail.com
[alias]
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
	logg = log --oneline
[core]
	editor = vim
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
    postBuffer = 524288000
[log]
    date = short
[format]
    pretty = format:%C(yellow)%h %Cblue%>(10)%ad %Cgreen%<(7)%aN %C(red)%d %Creset%s

